:root {
  --clr-primary-BrightOrange: hsl(31, 77%, 52%);
  --clr-primary-DarkCyan: hsl(184, 100%, 22%);
  --clr-primary-VeryDarkCyan: hsl(179, 100%, 13%);
  /* background, headings, buttons */
  --clr-secondary-VeryLightGray: hsl(0, 0%, 95%);
  /* paragraphs */
  --clr-secondary-TransparentWhite: hsla(0, 0%, 100%, 0.75);

  --ff-accent: 'Big Shoulders Display', cursive;
  --ff-base: 'Lexend Deca', sans-serif;

  --fs-body-copy: 0.9375rem;

  --fw-400: 400;
  --fw-700: 700;
}
/* ---------- Reset ---------- */
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;padding: 0;}
body {line-height: 1.5;-webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
/* ---------- Global ---------- */
html {
  font-size: 100%;
}
body {
  min-height: 100vh;
  background-color: var(--clr-secondary-VeryLightGray);
  font-family: var(--ff-base);
  padding: 5.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  display: block;
  width: 100%;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 0.0625rem;
}
/* ---------- Layout ---------- */
.container {
  width: 87.2%;
  max-width: 57.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
  margin: 0 auto;
}
.card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}
.card:first-of-type {background-color: var(--clr-primary-BrightOrange);}
.card:nth-of-type(2) {background-color: var(--clr-primary-DarkCyan);}
.card:last-of-type {background-color: var(--clr-primary-VeryDarkCyan);}

.card__icon {max-width: 4rem;}

.card__title {
  color: var(--clr-secondary-VeryLightGray);
  font-size: 2.5rem;
  font-family: var(--ff-accent);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  margin: 0.1875rem 0;
}
.card__description {
  color: var(--clr-secondary-TransparentWhite);
  font-size: var(--fs-body-copy);
  font-weight: var(--fw-400);
  line-height: 1.5rem;
}
.card__button {
  margin-top: auto;
  width: 9.25rem;
  padding: 0.625rem 0;
  background-color: var(--clr-secondary-VeryLightGray);
  color: hsl(0deg, 0%, 0%);
  mix-blend-mode: screen;
  font-size: var(--fs-body-copy);
  text-decoration: none;
  text-align: center;
  border-radius: 2rem;
  border: 0.125rem solid var(--clr-secondary-VeryLightGray);
}
.card__button:hover{
  transition: 300ms;
  background-color: transparent;
  color: var(--clr-secondary-VeryLightGray);
}
/* ---------- Footer ---------- */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 3rem;
}
.attribution a {
  color: var(--clr-primary-VeryDarkCyan);
  font-weight: var(--fw-700);
}
.attribution a:hover{
  transition: 300ms;
  opacity: .7;
}
@media (min-width: 41.6875rem) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card:last-of-type {grid-column: span 2;}
}
@media (min-width: 45rem) {
  .container {
    min-height: 31.25rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card:last-of-type {grid-column: unset;}
}
/*
Media query needed to center the container, this way the screenshot on Frontend Mentor
makes it look as similar as the comparative one.
*/
@media (min-width: 66.25rem) and (min-height: 37.5rem) {
  body {padding: 0;}
}