:root {
  /* Primary colors */
  --clr-primary-Soft-orange: hsl(35, 77%, 62%);
  --clr-primary-Soft-red: hsl(5, 85%, 63%);

  /* Secondary colors */
  --clr-secondary-Off-white: hsl(36, 100%, 99%);
  --clr-secondary-Grayish-blue: hsl(233, 8%, 79%);
  --clr-secondary-Dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-secondary-Very-dark-blue: hsl(240, 100%, 5%);

  /* Fonts */
  --ff-base: 'Inter', sans-serif;
}

/* ----- Global ----- */
html {
  font-size: 100%;
}

body {
  font-family: var(--ff-base);
}

/* ----- Layout ----- */

  /* Footer */
.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}