@import 'tailwindcss';

@theme {
  /* Colors */
  --color-custom-desaturated-red: hsl(0, 36%, 70%);
  --color-custom-soft-red: hsl(0, 93%, 68%);
  --color-custom-dark-grayish-red: hsl(0, 6%, 24%);
  --color-gradient-left: hsl(0, 80%, 86%);
  --color-gradient-right: hsl(0, 74%, 74%);
  --color-hover: hsl(0, 90%, 90%);

  --color-gradient-tl: hsl(0, 0%, 100%);
  --color-gradient-br: hsl(0, 100%, 98%);

  /* Font */
  --font-base: "Josefin Sans", sans-serif;
}