:root {
    /* Colors */
    --White: hsl(0, 0%, 100%);
    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

    /* Fonts */
    --ff-headers: "Young Serif", serif;
    --ff-base: "Outfit", serif;

    --fs-paragraph: 16px;
}

/* ----- Global ----- */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-base);
    background: var(--White);
    min-height: 50.75rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 0.0625rem;
}

/* ----- Layout ----- */

/* ----- Footer ----- */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}